/*전체폰트*/
body {
	font-family: 'Noto Sans KR', sans-serif;
}

/*nav바 폰트 사이즈*/
.navbar .nav-item a{
    color: black;
    font-size: 15px;
    
}

.item_1 h5{
    margin-top: 5%;
    font-size: 2rem;
}

/* item 3 */

.item_3{
    position: relative;
}

.item_3 button{
    position: absolute;
    top: 50%;
    left: 44%;
    border: none;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.item_3 button:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: rgba( 255, 255, 255, 0.5);
    
}





/* carousel */



.item_3 a{
    text-decoration-line: none;
    padding: 10%;
    color: black;
}


.col-lg-4 li a:hover{
    color: pink;
   
}



.fw-bolder{
    cursor: pointer;
}

.item_4{
    min-height: 100vh;
    position: relative;
    
}


.item_4 h4{
    position: absolute;
    top: 7%;
    left: 40%;
}

.carousel-item img{
    position: absolute;
    top: 5%;
    
}

.col-lg-2 h2{
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    
}

.main_img2{
    position: relative;
}


.title{
    position: absolute;
    left: 46%;
    top: 50%;
    font-weight: bold;
    font-size: 4em;
}

.Rectangle{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.item_2{
    min-width: 100vw;
}


/* acc */

.item_3 h4{
    font-size: 2rem;
    font-weight: bold;
}

/* item 5 */
.item_5{
    background: radial-gradient(#AECDC6 17%, #fff, #fff);
    min-height: 100vh;
}






.item_5 img{
    margin-left: 25%;
    padding-top: 17%;
}


.main_content{
    position: relative;
}

.text{
    position: absolute;
    top: 40%;
    left: 20%;
}

.text h1{
    font-size: 3em;
    padding: 2px;
}

.text span{
    font-size: 1.5em;
}

.main_content img{
    height: 570px;
}


.second_sc{
    min-height: 100vh;
    background: linear-gradient(to right, #86619C, #B98CD5, #F9F1FC);
}



.second_sc img{
    /*margin-top: 20%;*/
    padding-top: 7%;
    margin-left: 40%;
    width: 60%;
    height: 40%;
   
}


.main_content .text2 h1{
 
 top: 10%;
}


ul{
    list-style: none;
    display: flex;
}




